html {
    font-family : Arial, Helvetica, san-serif;
}

#site-nav {
    background-color: teal;
}

#profile-name {
    font-size: 3em;
}

#profile-description-text {
}

#profile-description-image {
    
}